/*=== header ===*/

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }
    header img {
        margin-bottom: 15px;
    }
}



/*=== HERO ===*/

@media (max-width: 700px) {
    .hero h1 {
        font-size: 2.5rem;
    }
    .hero h3{
        font-size: 1.5rem;
    }
}

/*===conheça o hotel===*/

@media (max-width: 700px) {
    .conheca-o-hotel .grid li.small, .conheca-o-hotel .grid li.large {
        flex-basis: 100%;
    }
}

/*=== caracteristicas ===*/

@media (max-width: 850px) {
    .caracteristicas .grid {
        flex-direction: column;
    }
}

/*=== newsletter ===*/
@media (max-width: 700px) {
    .newsletter input  {
        flex-basis: 100%;
        margin-bottom: 15px;
    }
}